head
  block title
    title No page found.
  block theme
    style
      include:scss ../themes/default.scss
  block stylesheets
  block scripts
  link(rel='icon' type='image/png' href='/assets/pokemon/favicon.png')
