head
  block title
    title No page found.
  block default_stylesheet
    link(rel='stylesheet' type='text/css' href='//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css')
    link(rel='stylesheet' type='text/css' href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css')
  block stylesheets
  block scripts
  link(rel='icon' type='image/png' href='/assets/pokemon/favicon.png')