#navbar
  ul
    if authorized
      li
        a(href='/profile', class='profile-link') Profile
    else
      li
        a(href='/login', class='login-link') Log In
      li
        a(href='/signup', class='signup-link') Sign Up